* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #ffb900;
    --font-sen: "Sen", sans-serif;
}

/*========Commom========*/
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

html,
body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.btn {
    padding: 0 16px;
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--font-sen);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}
/*=======Header========*/

.header {
    position: sticky;
    padding: 36px 0 8px;
    top: -28px;
    background: #fffcf4;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav li.active a,
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/*============Hero===========*/
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff9e8;
    margin-right: 16px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .infor .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}
.hero-summary .infor .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.hero .content-block .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 22px;
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
    border-radius: 32px;
}

.hero .watch-video {
    margin-left: 28px;
    border: none;
    background-color: #fffcf4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block .stats {
    margin: 8px 0 0 -28px;
}

.hero .content-block .stats strong {
    padding: 0 14px 0 28px;
    font-family: var(--font-sen);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.popular .popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
}

.popular .info {
    padding: 16px 22px 22px;
}

.popular .info .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.popular .head .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .head .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular .head .rating .value {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fea31b;
}

.popular .info .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
    margin-bottom: 12px;
}

.popular .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .foot .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .foot .book-btn {
    font-weight: 600;
    font-size: 1.4rem;
    border: none;
    color: #ffffff;
}

.popular .foot .book-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list{
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-shrink: 0;
}

.feedback-list .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 18px;
}

.feedback-list .title {
    font-family: var(--font-sen);
    font-size: 1.4rem;
    line-height: 1.42;
    color: #f7f7f7;
    margin-bottom: 4px;
}

.feedback-list .desc {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
    margin-bottom: 28px;
}

.feedback-list .dots {
    display: flex;
    gap: 6px;
}

.feedback-list .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-list .dot.active{
    background-color: var(--primary-color);
    cursor: default;
}

.feedback .content{
    width: 63.2%;
}

.feedback-list blockquote {
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
    margin-left: 30px;
}
